################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/obj
/Api/bin
/Consumer/obj
/Consumer/bin
/.github/kubernetes/deployments/Secret
/.github/kubernetes/deployments/Secrtr.yml
